@page
@{
    ViewBag.FluidLayout = true;
}
@model AbpHelper.Pages.Generictor.IndexModel
@using ToolMan.Menus;
@using Microsoft.AspNetCore.Mvc.Localization
@using ToolMan.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal;
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@inject IHtmlLocalizer<ToolManResource> L
@inject IPageLayout PageLayout
@{
    PageLayout.Content.BreadCrumb.Add(L["Menu:Generictor"].Value);
    PageLayout.Content.MenuItemName = ToolManMenus.Generictor;
}

@section styles {
    <abp-style src="/Pages/Generictor/Index.cshtml.css" />
    <link href="~/libs/jstree/themes/default/style.min.css" rel="stylesheet" />
    <link href="~/libs/highlight.js/styles/vs2015.min.css" rel="stylesheet" />
    <link href="~/libs/jsoneditor/jsoneditor.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="~/libs/jsoneditor/jsoneditor.min.js"></script>
    <script src="~/libs/jstree/jstree.min.js"></script>
    <script src="~/libs/highlight.js/highlight.min.js"></script>
    <script src="~/libs/monaco-editor/min/vs/loader.js"></script>
    <abp-script src="/Pages/Generictor/Index.cshtml.js" />
}

<div id="pannel-container" class="d-flex">
    <pannel id="treePanel">
        <abp-input asp-for="ViewModel.TemplatePath" />
        <abp-button icon="refresh" id="RefreshBtn" text="@L["Refresh"].Value" />
        <abp-button icon="caret-down" id="OpenAllBtn" text="@L["Open All"].Value" />
        <abp-button icon="caret-right" id="CloseAllBtn" text="@L["Close All"].Value" />
        <div id="jstree" style="overflow:scroll;padding-bottom: 0.5rem;"></div>
    </pannel>
    <div id="resizer">...</div>
    <pannel style="flex-grow:1">
        <abp-tabs name="Tabs">
            <abp-tab title="@L["Options"].Value" name="Options">
                <abp-row>
                    <abp-column size="_6">
                        <label>@L["Options"]</label>
                        <abp-input asp-for="ViewModel.Options" />
                        <div class="text-end p-1 bg-primary">
                            <button id="jse-bar-new" class="btn btn-sm btn-primary fa fa-file" title="@L["New"].Value"></button>
                            <button id="jse-bar-save" class="btn btn-sm btn-primary fa fa-download" title="@L["Save to disk"].Value"></button>
                            <button id="jse-bar-open" class="btn btn-sm btn-primary fa fa-folder-open" title="@L["Open from disk"].Value"></button>
                            <input id="jse-bar-open-file" class="d-none" type="file" accept=".json">
                            <button id="jse-bar-refresh" class="btn btn-sm btn-primary fa fa-refresh" title="@L["Refresh preview"].Value"></button>
                        </div>
                        <div id="jsoneditor"></div>
                    </abp-column>
                    <abp-column size="_6">
                        <abp-input asp-for="ViewModel.OutputPath" />
                        <abp-row style="padding:0.3rem 0">
                            <abp-button-group class="mr-2">
                                <abp-button button-type="Primary" class="text-center" id="GenerateLButton">@L["All Generate"].Value</abp-button>
                                <abp-button button-type="Primary" class="text-center" id="GenerateRButton">@L["Only Preview Item"].Value</abp-button>
                            </abp-button-group>
                        </abp-row>
                        <pre style="margin-bottom:0"><code id="Preview"></code></pre>
                        <abp-row style="padding-top:0.3rem" class="m-auto">
                            <abp-button button-type="Secondary" data-bs-toggle="modal" data-bs-target="#PreviewModal">@L["Full Screen"]</abp-button>
                        </abp-row>
                    </abp-column>
                </abp-row>
            </abp-tab>
        </abp-tabs>
    </pannel>
</div>
<abp-modal centered="true" scrollable="true" size="Fullscreen" id="PreviewModal">
    <abp-modal-body>
        <div class="hljs" style="width: 100%; height: 89vh; overflow: scroll;">
            <pre><code id="Preview_modal" class="hljs"></code></pre>
        </div>
    </abp-modal-body>
    <abp-modal-footer buttons="@(AbpModalButtons.Close)"></abp-modal-footer>
</abp-modal>

<script>
    setTimeout(function () {
        var resizer = document.getElementById("resizer");
        var treePanel = document.getElementById("treePanel");

        var setHeight = function (innerHeight) {
            document.getElementById("jstree").style.height = (innerHeight - 244) + "px";
            document.getElementById("jsoneditor").style.height = (innerHeight - 206) + "px";
            document.getElementById("Preview").style.height = (innerHeight - 310) + "px";
        }
        window.addEventListener('resize', (e) => { setHeight(window.innerHeight) })
        setHeight(window.innerHeight);

        resizer.addEventListener("mousedown", function (e) {
            e.preventDefault();
            document.addEventListener("mousemove", mousemove);
            document.addEventListener("mouseup", mouseup);
        });

        function mousemove(e) {
            var dx = e.clientX - resizer.clientWidth - 15;
            treePanel.style.width = dx + "px";
        }

        function mouseup() {
            document.removeEventListener("mousemove", mousemove);
            document.removeEventListener("mouseup", mouseup);
        }
    }, 200)

</script>